.card article {
    padding: 1rem;
}

.card p {
    margin-top: 1rem;
    line-height: 15px;
    display: block;
}

.card span {
    cursor: pointer;
    padding-top: 0;
    border: 2px solid #00a1cd;
    padding: 0px 10px;
    border-radius: 10px;
    color: #00a1cd;
    margin-top: 1rem;
    align-self: flex-end;
}

@media only screen and (min-width: 960px) {
    .band {
        grid-gap: 50px 100px;
        grid-template-columns: repeat(3, 1fr);
    }
}