.card h1 {
    line-height: 1.1;
}

.card span {
    padding-top: 1rem;
}

.card iframe {
    height: 250px;
}

@media only screen and (min-width: 960px) {
    .band {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px 100px;
    }
}