<h2 class="title">
    Transparencia
</h2>
<p class="subtitle">
    El Portal de Transparencia del Colegio de Contadores Públicos de La Libertad es un área informativa de acceso libre que permite a cualquier usuario, en tiempo real, obtener la más completa información compuesta por bases de datos de la institución.
</p>
<p class="subtitle">
    En esta área usted podrá descargar:
</p>
<div class="list-trans">
    <ul>
        <li>
            <p>
                <a href="https://drive.google.com/drive/folders/0B-uD99Frd9XcMWdJVWk5OFpLTzg?resourcekey=0-ythWeequNIB7I_kMW1wJ6A&usp=sharing" target="_blank">ESTADOS FINANCIEROS
                    POR AÑO</a>
            </p>
        </li>
        <li>
            <p><a href="https://drive.google.com/drive/folders/0B-uD99Frd9XceUpRZ1Y5UHJhRzA?resourcekey=0-ALCY9Q7DyQbgn3Ck7BW0rA&usp=sharing" target="_blank">INGRESOS Y
                    EGRESOS MENSUALES Y ANUALES</a></p>
        </li>
        <li>
            <p><a href="https://drive.google.com/drive/folders/0B-uD99Frd9XcbFQ5SkRUT0VqTXc?resourcekey=0-xgPdFirqIn3LilYrAnaiWQ&usp=sharing" target="_blank">ACUERDO
                    DE
                    CONSEJO DIRECTIVO POR AÑO</a></p>
        </li>
        <li>
            <p><a href="https://drive.google.com/drive/folders/1GYi33d1P8gRs-z8euyR6RnSL58XwMXJ_?usp=sharing" target="_blank">ASAMBLEA GENERAL POR AÑO</a></p>
        </li>
        <li>
            <p><a href="https://drive.google.com/drive/folders/1FEK9t3OUQ_YHmLl8kXy07hlDVQch-koR" target="_blank">ESTADOS FINANCIEROS AUDITADOS</a></p>
        </li>
        <li>
            <p><a href="https://drive.google.com/drive/folders/1zy-qYEYF5E3paMP0St49RQsNDDN4SWvK?usp=sharing" target="_blank">ACTIVO FIJO - INVENTARIOS</a></p>
        </li>
        <li>
            <p><a href="https://drive.google.com/drive/folders/1L7XauHOXPz61_SnkRU2IB9aUAiKmbEMm?usp=sharing" target="_blank">OTROS DOCUMENTOS INSTITUCIONALES</a></p>
        </li>
    </ul>
</div>