h1 {
    font-size: 25px;
    line-height: 25px;
}

p {
    margin: 1rem 0;
}

article {
    padding: 0 1rem;
    width: 100%;
}

@media only screen and (min-width: 960px) {
    .item {
        flex-direction: row;
    }
}