.item {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card {
    background: #00a1cd;
    color: #FFF;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h1 {
    color: #FFF;
    line-height: 20px;
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 16px;
}

.item a {
    margin: auto;
    margin-top: 0.5rem;
}

.item a span {
    border-radius: 10px;
    border: 1px solid #00a1cd;
    font-family: 'Work-Bold';
    text-align: center;
    color: #00a1cd;
    padding: 2px 15px;
}

.card a span:hover, .card a span:focus, .card a span:active {
    background-color: #FFF;
    color: #14387f;
    border: 2px solid #FFF;
}

.card span::after {
    content: ' ';
}

article div {
    text-align: center;
}

@media only screen and (min-width: 960px) {
    .band {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px 190px;
    }
}